<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="/layout/adminlayout::navbar"></div>
        <div class="container">
            <table class="table">
                <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Name</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="cat :${categories}">
                    <td th:text="${cat.id}"></td>
                    <td th:text="${cat.name}"></td>

                </tr>

                </tbody>
            </table>

            <a href="#" th:href="@{/category}" class="btn btn-primary">New Category</a>
        </div>
<div th:replace="/layout/adminlayout::jscript"></div>
</body>
</html>